*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.pokemonContainer{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.vs{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.battleLogs{
    height: 100px;
    width: auto;
    overflow: auto;
    text-align: center;
}
.p1HealthBarContainer, .p2HealthBarContainer{
    background-color: green; 
    height: 20px;
}